<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Villes - TWIC</title>
    <link rel="stylesheet" th:href="@{/styles.css}"></head>
<body>
    <table>
        <h1>Liste des villes</h1>

        <a th:href="@{/villes}">Villes</a>
        <a th:href="@{/distance}">Distance</a>

        <tr>
            <th>Code INSEE</th>
            <th>Commune</th>
            <th>Code Postal</th>
            <th>Libelle Acheminement</th>
            <th>Ligne 5</th>
            <th>Longitude</th>
            <th>Latitude</th>
        </tr>
        <th:block th:each="ville : ${villes}">
            <tr>
                <td th:text="${ville.getCodeCommune()}"></td>
                <td th:text="${ville.getNomCommune()}"></td>
                <td th:text="${ville.getCodePostal()}"></td>
                <td th:text="${ville.getLibelleAcheminement()}"></td>
                <td th:text="${ville.getLigne()}"></td>
                <td th:text="${ville.getLongitude()}"></td>
                <td th:text="${ville.getLatitude()}"></td>
            </tr>
        </th:block>
    </table>

    <div id="footer">
        <form method="get">
            <th:block th:each="i: ${#numbers.sequence(1, nbPages)}">
                <input type="submit" name="page" id="numPage" th:value="${i}">
            </th:block>
        </form>
    </div>
</body>
</html>